/* ==== INÃ�CIO RESET ==== */
* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	width: 100vw;
	height: 100vh;
	background-color: #ffc900;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.card {
	margin: 0px;
	padding: 20px;
	max-width: 120rem;
	width: auto;
}

.card-body {
	margin: 0px;
	padding: 10px;
}

body .load-bar {
	margin-top: -20px;
}

body.login-page {
	background-color: transparent;
}


body .login-logo {
	margin: 20px;
	text-align: right;
	font-size: 60px;
	font-weight: 500
}

@media ( max-width : 1024px) {
	body .login-logo {
		text-align: center;
	}
}